body {
  padding: 10px;
}

.container {
  padding-right: 10px;
  display: block;
  margin: auto;
  max-width: 750px;
}

input {
  width: 100%;
  border: 2px solid #5f9341;
  font-size: 16px;
  padding-left: 10px;
}

button {
  margin-top: 10px;
  color: #FFF;
  border: 2px solid #5f9341;
  background-color: #5f9341;
  font-weight: 700;
  padding: 6px 12px;
  cursor: pointer;
}

#delete-btn {
  background-color: #FFF;
  color: #5f9341;
}

ul {
  padding: 0;
}

li {
 list-style: none;
 margin-top: 10px;
}

a {
  color: #5f9341;
  font-size: 18px;
  font-weight: 600;
}